html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}
body {
  line-height: 1;
}
ol, ul {
  list-style: none;
}
blockquote, q {
  quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}


@font-face {
	font-family: Champagne&Limousines;
	src: url("fonts/Champagne&Limousines.ttf");
}

body {
	width: 1000px;
	margin: auto;
}

a {
	text-decoration: none;
}

.wrapper {
	width: 1000px;
	margin: 0 auto;
}

header {
	background-image: url("header_bgn.png");
	height: 77px;

}

header h1 {
	float: left;
	margin: 25px 0 0 54px;
}

nav {
	float: right;
}

nav li {
	float: right;
	margin-right: 58px;
	margin-top: 38px;
	margin-left: 9px;
}

nav li a {
	color: #000000;
	font-family: Champagne&Limousines;
	font-size: 22px; 
}	


.main_box {
	width: 1000px;
	height: 435px;
	margin: 0 auto;
	background-image: url("main_box_bgn.png");
}

.play {
	width: 23px;
	height: 138px;
	padding-top: 163px;
	padding-left: 75px;
	
}

.Learn_More {
	display: inline-block;
	padding: 17px 34px;
	background: #f45050;
	color: #2d2d2d;
	margin-left: 77px;
	border-radius: 10px;
	border: 2px solid;
	border-color: #f5cccc;
	font-size: 23px;	
}

.Learn_More:hover {background: #f36161;
}

.Learn_More:active {background: #f13e3e;
}

.Join_Now {
	display: inline-block;
	padding: 17px 46px;
	background: #242424;
	margin-left: 25px;
	color: #f45050;
	border-radius: 10px;
	font-size: 23px;
}

.Join_Now:hover {
	background: #3b3b3b;
}

.Join_Now:active {
	background: #060606;
}

.youtube {
	display: table-row;
	width: 1000px;
	height: 720px;
	margin: 0 auto;
}

.sign_up {
	display: table-cell;
	background: url("Sign_Up.png");
	background-repeat: no-repeat;
	width: 297px;
	padding-left: 25px;
	padding-top: 25px;
}

.sign_up input {
	background: #4c4c4c;
	border-radius: 13px;
	color: #ececec;
	border: none;
	height: 35px;
	width: 225px;
	margin-top: 15px;
	border: none;
	outline: 0;	
}

.submit {
	display: inline-block;
	background: #48d2d4;
	padding-left: 50px;
	padding-top: 15px;
	padding-bottom: 15px;
	padding-right: 50px;
	border-radius: 10px;
	margin-top: 40px;
	margin-left: 32px;
	color: #252525;
}

.submit:hover {
	background: #4fe6e8;
}

.video {
	display: table-cell;
	width: 560px;
	height: 315px;
	padding-top: 30px;
	padding-left: 73px;
	position: absolute;
}

.landing {
	display: table-cell;
	width: 605px;
	padding-top: 380px;
	padding-left: 50px;
	position: absolute;
}

.dots {
	width: 1000px;
	height: 190px;
	}

.features {
	width: 1000px;
	height: 480px;
	background-color: #5ed57a;
	font-family: 'Open Sans', sans-serif;
}

h3 {
	padding-left: 113px;
	padding-top: 22px;
	color: #ffffff;
	font-size: 35px;
}

.Lorem {
	padding-left: 113px;
	padding-top: 20px;
	font-size: 19px;
	color: #ffffff;
}

.f_list li {
	font-size: 19px;
	color: #ffffff;
	padding-bottom: 29px;
}

.f_list {
	list-style-image: url("location.png");
	list-style-position: inside;
	column-count: 2;
	column-width: 342px;
	padding-left: 113px;
	padding-top: 52px;
}

.plans {
	display: table-row;
	width: 1000px;
	height: 520px;
	background-color: #ffffff;
}

h4 {
	color: #2d2d2d;
	font-size: 35px;
	padding-top: 30px;
	padding-left: 48px;
}

.plans {
	font-size: 19px;
	color: #2d2d2d;
	padding-top: 30px;
	padding-left: 48px;
}

.plan_bla {
	padding-top: 30px;
	padding-left: 48px;
}

.plans_container {
	display: flex;
	flex-direction: row;
	justify-content: center;
	justify-content: space-around;
	height: 382px;
	padding-top: 30px;
}

.plan1 {
	width: 445px;	
	height: 310px;
	background-image: url("Plan_bgn.png");
	background-repeat: no-repeat;
}

.plan1 p {
	color: #ffffff;
	font-size: 30px;
}

.plan_name1 {
	display: inline-flex;
	padding-left: 30px;
	padding-top: 25px;
}

.plan_name2 {
	display: inline-flex;
	padding-left: 30px;
	padding-top: 25px;
}

.upload {
	float: right;
	padding-right: 15px;
	padding-top:  12px;
}


.plan2 {
	width: 445px;	
	height: 310px;
	background-image: url("Plan_bgn.png");
	background-repeat: no-repeat;
}

.plan2 p {
	color: #ffffff;
	font-size: 30px;
}

.plan_list {
	list-style-image: url("ok_list.png");
	list-style-position: inside;
	color: #ffffff;
	padding-left: 45px;
	padding-top: 42px;
}

.price {
	display: inline-flex;
	padding-left: 62px;
	padding-top: 42px;
}

.select {
	padding-left: 55px;
	padding-right: 55px;
	padding-top: 10px;
	padding-bottom: 10px;
	color: #2d2d2d;
	background: #48d2d4;
	border-radius: 18px;
	margin-left: 42px;
}

.select:hover {
	background: #4fe6e8;
}

footer {
	width: 1000px;
	height: 715px;
}

.contact {
	display: flex;
	width: 1000px;
	height: 383px;
	background-image: url("contact_bgn.png");
}

.c_info {
	width: 385px;
	color: #ffffff;
	padding-top: 50px;
	padding-left: 32px;
}

.map {
	width: 1000px;
	height: 263px;

}

.gmap {
	width: 1000px;
	height: 263px;
}

.copyright {
	width: 1000px;
	height: 66px;
	background-color: #292929;
}

.copyright p {
	color: #ffffff;
	font-size: 15px;
	font-family: 'Open Sans', sans-serif;
	padding-top: 32px;
	padding-left: 375px;
}